body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header, main, footer
{
    padding: 5px;
}

header
{
    background-image: linear-gradient(to right, #faa, #faf);
    width: auto;
    top: 0px;
    border-bottom: 2px solid black;
}

main
{
    height: 100vh;
}

main, footer
{
    text-align: center;
}

footer
{
    background-image: linear-gradient(to top, #222, #262626);
    color: #fff;
}
