services:
  frontend:
    build: ./frontend
    restart: always
    networks:
      network:
        ipv4_address: 10.69.42.102
  proxy:
    build: ./proxy
    restart: always
    ports:
    - 80:80
    networks:
      network:
        ipv4_address: 10.69.42.101
  db:
    image: postgres:14.19-alpine3.21
    restart: always
    networks:
      network:
        ipv4_address: 10.69.42.104
    env_file:
    - ./.env
networks:
  network:
    ipam:
      driver: default
      config:
      - subnet: 10.69.42.0/24