body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 20pt;
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #42cef5;
}

.btn-like-link {
    color: black;
    text-decoration: none;
    background-color: #f0ad67;
    padding: 10px;
    border-radius: 5px;
}