body {
    font-size: 20pt;
    font-family: sans-serif;
    margin: 0px;
    overflow: hidden;
}

#top-bar {
    border-bottom: 5px solid black;
    /*width: 100vw;*/
    padding: 5px;
}

h1 {
    margin: 0px;
    font-size: 20pt;
}