#main {
    height: 100vh;
    background-image: linear-gradient(to bottom, white, #cfcfcf);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 15px black;
    
    background-color: white;
    padding: 20px;
    margin-bottom: 30vh;
}